//Hero
.hero {
    background-image: url('../img/header3.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size: cover;
}
.hero-info {
    @include center;
    h3 {
        font-family: $special-family;
        font-size: 4.8rem;
        letter-spacing: 0;
        line-height: 1.5;
        @include phone {
            font-size: 3.6rem;
        }
    }
}

//Project Section
.projects {
    background-color: #f1f1f1;
    position: relative;
    padding-top: $spacing*2;
    text-align: center;
}
.project-section {
    margin-top: $spacing*3;
}
.case {
    position: relative;
    overflow: hidden;
    margin-bottom: $spacing*2;
    text-align: left;
    img {
        width: 100%;
    }
    &:hover {
      .case-info {
        background-color: $highlight4;
        top: 0;
        h5, p {
            opacity: 1;
        }
      }
    }
}
.case-info {
    background-color: rgba(44, 62, 80, 0.9);
    padding: 1.6rem 1.2rem;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 80%;
    transition: all 0.3s ease;
    // @include tablet {
    //     top: 72%;
    // }
    @include desktop {
        top: 76%;
    }
    h4 {
        color: #fff;
        font-family: $header-family;
        margin-top: 0;
    }
    h5 {
        opacity: 0;
    }
    p {
        color: #fff;
        opacity: 0;
    }
}
